{% if page.url == "/" %}
  <div id="cusdis_thread"
       data-host="https://cusdis.com"
       data-app-id="YOUR_APP_ID"
       data-page-id="home"
       data-page-url="{{ site.url }}/"
       data-page-title="{{ site.title }} Home">
  </div>
{% else %}
  <div id="cusdis_thread"
       data-host="https://cusdis.com"
       data-app-id="YOUR_APP_ID"
       data-page-id="{{ page.url }}"
       data-page-url="{{ site.url }}{{ page.url }}"
       data-page-title="{{ page.title | default: site.title }}">
  </div>
{% endif %}
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
